.conteiner {
    width: 100%;
}

.formConteiner {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 80px;
}


@media screen and (max-width : 900px) {
    .formConteiner {
        width: 100%;
        flex-direction: column-reverse;
    }
}